In [1]:
import pandas as pd

In [2]:
data = {'col_1': [3, 2, 1, 0], 'col_2': ['a', 'b', 'c', 'd']}
df = pd.DataFrame.from_dict(data)
df

   col_1 col_2
0      3     a
1      2     b
2      1     c
3      0     d

In [6]:
df["col_1"].astype(str) + "dsadsa" + "xdf"

0    3dsadsaxdf
1    2dsadsaxdf
2    1dsadsaxdf
3    0dsadsaxdf
Name: col_1, dtype: object